<!-- mateial.html (ch08www object) -->
{% extends "base.html" %}
{% block title %}新增利潤{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
{% csrf_token %}
{% load static %}
<html lang="en">

<body>

{% for container_field in form.get_container_fields %}
    {{ container_field }}
    {% if forloop.last %}
    <div class="input-group-append">
        <button class="btn btn-success add-form-row">+</button>
    </div>
    {% endif %}
{% endfor %}

</body>
</html>
<script type="text/javascript">


 </script>

{% endblock %}