<!-- pos2db.html (ch08www object) -->
{% extends "base.html" %}
{% block title %}商品利潤總覽{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<form method="post">
  {% csrf_token %}
  <div class="row">
    <div class="col-sm-2">{{ form.container|as_crispy_field  }}</div>
  </div>


  <button type="submit" class="btn btn-primary">查詢</button>
</form>

</br>


{% load render_table from django_tables2 %}
{% load static %}
<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />
    </head>
    <body>
        {% render_table table %}
    </body>
</html>





{% endblock %}